<div class="container-fluid">
	<h2>Wellcome Home !</h2>

	<div class="jumbotron">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptatem minus exercitationem saepe adipisci illum similique
			voluptatum distinctio error beatae assumenda amet accusamus, repudiandae ab neque enim ratione iusto, fugiat dolore itaque?
			Ea expedita optio necessitatibus repellat nam est repellendus blanditiis doloribus, molestias, nihil dicta placeat recusandae
			odio alias laborum debitis iure tempora eos amet ipsam et excepturi magnam architecto. Commodi tempore, impedit ea numquam
			id sint sed nostrum vitae expedita nisi perferendis laudantium suscipit eligendi maxime. Iure nulla quisquam sapiente
			adipisci dolores aperiam illum similique beatae, eum explicabo tempora, illo. Deleniti harum dolor dicta tempore similique
			autem omnis officiis.
		</p>
	</div>

</div>