<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" #test>
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">The results are:</h5>
				<button type="button" #closeButton class="close" 
						data-dismiss="modal" aria-label="Close" 
						(click)="gotoHomeScreen(test)"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>{{score}}</p>
				<p>Click ok to play again</p>
			</div>
			<div class="modal-footer">
				<button type="button" #okButton class="btn btn-secondary" 
						data-dismiss="modal" (click)="playAgain(test)"
				>
					Ok
				</button>
			</div>
		</div>
	</div>
</div>